* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  background-color: #f8f8f8;
}
.top-bar {
  height: 5rem;
  width: 100%;
  padding: 0 40px;
  position: fixed;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 9px rgba(204, 204, 204, 0.6);
  box-sizing: border-box;
  overflow: hidden;
}
.top-bar .brand {
  margin-left: 0.5rem;
}
.top-bar .login-btn {
  margin: 1.2rem 0 0 89rem;
  padding: 10px 24px;
  height: 25px;
  background-color: rgb(14, 2, 65);
  color: #f8f8f8;
  text-decoration: none;
  border-color: transparent;
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
}
.top-bar .login-btn:hover {
  background-color: rgb(235, 50, 30);
}
.success {
  padding: 80px 43px 0;
}
.success h2 {
  font-size: 48px;
  text-align: center;
  padding: 15rem 0 0 0;
  color: rgb(11, 0, 61);
}
.success h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: rgb(14, 0, 77);
}
