* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Nunito, sans-serif;
  background-color: #f8f8f8;
}

.top-bar {
  height: 5rem;
  width: 100%;
  padding: 0 40px;
  position: fixed;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 9px rgba(204, 204, 204, 0.6);
  box-sizing: border-box;
  overflow: hidden;
}
.top-bar .brand {
  margin-left: 0.5rem;
}
.top-bar .login-btn {
  margin: 0 0 0 20px;
  padding: 8px 20px;
  height: 25px;
  background-color: #eb3203;
  color: #f8f8f8;
  text-decoration: none;
  border-color: transparent;
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  float: left;
}
.top-bar .login-btn:hover {
  background-color: rgb(14, 2, 65);
}
.top-bar .login {
  font-size: 18px;
  padding: 22px 86rem;
  text-transform: uppercase;
  margin-left: 1rem;
  text-decoration: none;
}
.success {
  padding: 80px 43px 0;
}
.success h2 {
  font-size: 48px;
  text-align: center;
  padding: 15rem 0 0 0;
  color: #555555;
}
.success h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: rgb(12, 12, 12);
}

@media screen and (max-width: 728px) {
  .top-bar {
    height: 4.5rem;
    padding: 0 2.5rem;
    margin: auto;
  }
  .top-bar .brand {
    width: 80;
    height:50;
  }
  .top-bar .login {
    padding: 16px 25rem;
    text-align: center;
    align-items: flex-end;
  }
  .top-bar .login-btn {
    padding: 7px 16px;
    height: 25px;
    border-radius: 24px;
  }
  .success h2 {
    font-size: 36px;
  }
  .success h4 {
    font-size: 20px;
  }
}
